@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

:root {
  --swiper-navigation-color: white;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 0, 1);
  border-radius: 10px;
}

::selection {
  background: rgba(0, 255, 0, 0.4);

}

@layer components {

  .swiper-button-prev {
    position: absolute;
    content: '';
    color: "red " !important;
    background-color: red !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  /* ... */
}

* {
  -webkit-tap-highlight-color: transparent;
}

#map-report a img {
  display: none;
}